fastapi==0.115.12
uvicorn==0.34.2
asgiref==3.8.1
ultralytics==8.2.0
torch==2.1.0
torchvision==0.16.0
segmentation-models-pytorch==0.3.3
opencv-python==4.10.0.84
pillow==10.2.0
numpy==1.26.4
python-multipart==0.0.9